- supertitle = current_page.data[:supertitle]
- subtitle = current_page.data[:subtitle]
- title = supertitle || current_page.data[:title]
- date = current_page.date if current_page.respond_to? :date

= wrap_layout :layout do
  %article
    - unless title.blank?
      %h2
        = link_to title, ''
        - if subtitle
          %br
          = subtitle
      - if date
        %h3 #{format_date(date)}.
    ~ yield

  #comments= disqus