!!! 5
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}/
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Inconsolata:400,700'
    = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css'
    = stylesheet_link_tag 'application'
    %title= current_page.title rescue "A notebook."

  %body
    %header
      %h1= link_to 'A notebook.', '/'

    #main{:role => "main"}
      = yield
    %aside
      %section
        %h2 Who am I?

        %p
          I'm #{link_to 'Erik Ostrom', 'http://erikostrom.com/', :title => 'Warning: chaotic!'},
          a freelance web application developer
          specializing in Ruby on Rails and JavaScript.

        %p
          I'm on #{link_to 'GitHub', 'http://github.com/eostrom/'} and
          #{link_to 'LinkedIn', 'http://www.linkedin.com/in/eostrom'},
          and also on
          #{link_to 'Twitter', 'https://twitter.com/erikostrom'},
          where I lack focus.

        %a.pair(href='mailto:erik@echographia.com')
          %img(src='http://pairprogramwith.me/badge.png')

      %section
        %h2 What else is new?
        %ol
          - blog.articles[0...10].each do |article|
            %li
              %a{:href => article.url}= article.title

      %section
        %h2 What's it all about?
        %ol
          - top_tags(blog, 10).each do |tag, articles|
            %li
              %a{:href => tag_path(tag)}
                = tag
                (#{articles.size})

      %section
        %h2 The archive.
        %ol
          - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
            %li
              %a{:href => blog_year_path(year)}
                = year
                (#{articles.size})

        %h2= link_to 'The colophon.', '/colophon.html'

    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js'
    %script
      hljs.initHighlightingOnLoad();
